@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgb(34, 193, 195);
    background: linear-gradient(
        32deg,
        rgba(34, 193, 195, 1) 10%,
        rgba(253, 187, 45, 1) 92%
    );
}

.wrapper-start {
    margin: auto;
    background-color: black;
    width: 80%;
    height: 100vh;
    background: #f5f7fb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 720px) {
    .wrapper-start {
        width: 100vw;
    }
}

.title {
    font-size: 3rem;
    margin: 20px auto;
    color: #4d5b9e;
}
.text {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 auto;
    color: #4d5b9e;
}

.selection {
    margin: 10px auto;
    width: 300px;
    font-size: 1.1rem;
}

.btn {
    margin: 20px auto;
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    background: #4d5b9e;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;

    padding: 6px 10px;
    opacity: 0.95;
}

button:hover {
    opacity: 1;
}

/* quizpage*/
.wrapper {
    margin: auto;
    padding-top: 25px;
    background-color: black;
    width: 70%;
    height: 100%;
    background: #f5f7fb;
    display: flex;
    flex-direction: column;
    padding-left: auto;
    padding-right: auto;
}
@media screen and (max-width: 720px) {
    .wrapper {
        width: 100vw;
    }
}
.question-box {
    margin: 8px 20px;
    border-bottom: 1px solid rgba(77, 91, 158, 0.5);
    padding-bottom: 20px;
}

.question {
    color: #293264;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}
.answer-btn {
    color: #293264;
    min-width: 100px;
    padding: 5px;
    font-size: 16px;
    margin: 3px 10px;
    background: none;
    border: 1px solid #4d5b9e;
    border-radius: 8px;
}

.chosen {
    background-color: #d6dbf5;
    border: 1px solid #d6dbf5;
}

.wrong {
    background-color: #f8bcbc;
    border: 1px solid #f8bcbc;
}

.correct {
    background-color: #94d7a2;
    border: 1px solid #94d7a2;
}

.end-btn {
    margin: 30px auto;
    min-width: 100px;
    height: 40px;
    border: none;
    outline: none;
    background: #4d5b9e;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    padding: 6px 10px;
    opacity: 0.95;
}
.end-text {
    margin: auto 0 auto auto;
    color: #293264;
    font-size: 16px;
    font-weight: 600;
}
.playagain-btn {
    margin: 30px auto 30px 15px;
    min-width: 100px;
    height: 40px;
    border: none;
    outline: none;
    background: #4d5b9e;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;

    padding: 6px 10px;
    opacity: 0.95;
}
.wrap {
    display: flex;
}
